body.dark #section_178_9{
background-color:#060818 !important;
}
body.dark #section_179_9{
background-color:#060818 !important;
}
#section_178_9{
background-color:#ffffff !important;
padding-top:30px !important;
padding-right:5px !important;
padding-bottom:30px !important;
padding-left:5px !important;
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_172_widget_349{
padding-top:0px !important;
padding-right:10px !important;
padding-bottom:0px !important;
padding-left:0px !important;
background-color:transparent ;
}
#section_172_widget_354{
padding-top:0px !important;
padding-right:0px !important;
padding-bottom:0px !important;
padding-left:0px !important;
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:20px !important;
background-color:transparent ;
}
#section_179_9{
background-color:#ffffff !important;
padding-bottom:30px !important;
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_177_9{
background-color:#ffffff !important;
}
#section_182_9{
background-color:#ffffff !important;
padding-top:30px !important;
padding-right:0px !important;
padding-bottom:30px !important;
padding-left:0px !important;
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_181_9{
background-color:#ffffff !important;
padding-top:30px !important;
padding-right:0px !important;
padding-bottom:30px !important;
padding-left:0px !important;
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_180_widget_377{
background-color:transparent ;
}
#section_180_widget_377 .section-title h2{
color:#164ae3 !important;
}
#section_180_widget_377 .countdown li{
color:#df1616 !important;
}
#section_180_9{
background-color:#ffffff !important;
padding-top:0px !important;
padding-right:10px !important;
padding-bottom:0px !important;
padding-left:10px !important;
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_177_widget_362{
background-color:#f0f0f082 !important;
padding-top:0px !important;
padding-right:0px !important;
padding-bottom:0px !important;
padding-left:0px !important;
}
#section_177_widget_381{
background-color:#f0f0f0 !important;
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
body.dark #section_172_9{
background-color:#060818 !important;
}
body.dark #section_177_9{
background-color:#060818 !important;
}
body.dark #section_180_9{
background-color:#060818 !important;
}
body.dark #section_181_9{
background-color:#060818 !important;
}
body.dark #section_182_9{
background-color:#060818 !important;
}
#section_177_widget_366{
padding-top:0px !important;
padding-right:0px !important;
padding-bottom:30px !important;
padding-left:0px !important;
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:30px !important;
background-color:transparent ;
}
#section_177_widget_365{
background-color:#f0f0f082 !important;
margin-top:30px !important;
margin-right:0px !important;
margin-bottom:30px !important;
margin-left:0px !important;
}
#section_181_widget_379{
padding-top:0px !important;
padding-right:0px !important;
padding-bottom:0px !important;
padding-left:15px !important;
background-color:transparent ;
}
#section_181_widget_378{
padding-top:0px !important;
padding-right:15px !important;
padding-bottom:30px !important;
padding-left:0px !important;
background-color:transparent ;
}
#section_182_widget_380{
background-color:transparent ;
}
#section_177_widget_374{
padding-top:0px !important;
padding-right:0px !important;
padding-bottom:30px !important;
padding-left:0px !important;
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:30px !important;
background-color:transparent ;
}
#section_177_widget_361{
padding-top:0px !important;
padding-right:0px !important;
padding-bottom:20px !important;
padding-left:0px !important;
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:30px !important;
background-color:transparent ;
}
#section_172_9{
background-color:#ffffff !important;
padding-top:30px !important;
padding-right:10px !important;
padding-bottom:10px !important;
padding-left:10px !important;
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_178_widget_367{
background-color:transparent ;
}
@media (min-width: 768px) and (max-width: 1023px) {
#section_179_9{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_177_9{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_180_9{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_181_9{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_182_9{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_178_9{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_172_widget_354{
padding-top:0px !important;
padding-right:0px !important;
padding-bottom:0px !important;
padding-left:10px !important;
}}
@media (max-width: 767px) {
#section_179_9{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_177_9{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_180_9{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_181_9{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_182_9{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_178_9{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}
#section_172_widget_354{
padding-top:0px !important;
padding-right:0px !important;
padding-bottom:0px !important;
padding-left:0px !important;
}
#section_177_widget_362{
margin-top:5px !important;
margin-right:5px !important;
margin-bottom:5px !important;
margin-left:5px !important;
}
#section_177_widget_361{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:0px !important;
margin-left:0px !important;
}}