#section_1_widget_2{
background-color:transparent ;
}
#section_1_widget_1{
background-color:transparent ;
}
#section_1_widget_3{
margin-top:3px !important;
background-color:transparent ;
}
#section_1_1{
margin-top:20px !important;
background-color:transparent ;
}
#section_2_1{
margin-top:20px !important;
background-color:transparent ;
}
#section_2_widget_4{
margin-right:10px !important;
margin-left:0px !important;
background-color:transparent ;
}
#section_2_widget_5{
margin-left:10px !important;
background-color:transparent ;
}