#section_184_widget_386{
background-color:transparent ;
}
#section_184_widget_385{
background-color:transparent ;
}
#section_184_widget_387{
padding-top:0px !important;
padding-right:0px !important;
padding-bottom:0px !important;
padding-left:20px !important;
background-color:transparent ;
}
#section_184_12{
padding-top:30px !important;
padding-right:0px !important;
padding-bottom:0px !important;
padding-left:0px !important;
background-color:transparent ;
}
#section_185_12{
background-color:transparent ;
}
#section_184_widget_413{
background-color:transparent ;
}
@media (min-width: 768px) and (max-width: 1023px) {
#section_185_12{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:30px !important;
margin-left:0px !important;
}}
@media (max-width: 767px) {
#section_184_widget_386{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:30px !important;
margin-left:0px !important;
}
#section_185_12{
margin-top:0px !important;
margin-right:0px !important;
margin-bottom:30px !important;
margin-left:0px !important;
}}